html{
    background-color: #41B3A3;
    color:white;
    font-family: 'Concert One', cursive;

}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90pxpx;
    width: 50%;
}
      
  

  .landing-text{
      text-align: center;
      padding: 20px;
      margin-top: 25px;
      font-size: 20px;
      z-index: 10px;
    
  }
  
  .header-sub-text{
      font-size: 20px;
      margin-top: 25px;
  }

  .button{
      border: 2px solid #E27D60;
  }

  

  .button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 100px;
    padding: 5px;
    margin-left: 660px;
    text-align: center;
  }
  
  .button:hover {
    background-color: #E27D60; 
    color: white;
  }

  a{
      padding: 3px;
      color: white;
      text-decoration: none;
  }

  a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #E8A87C;
    border: 2px solid black;
  }